.main-title {
	text-align: center;
	background: #006491;
  color: white;
}

.order-id-input-wrapper {
	width: 500px;
	margin: 25px auto;
}

.order-status-card {
	margin: 20px 0;
}

.order-status-card .card {
	border-radius: 20px;
}

.order-status-card .card-header{
	background: #006491;
  color: white;
	border-radius: 20px 20px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-status-card .card-footer{
	background: #e31837;
  color: white;
	border-radius: 0 0 20px 20px;
}

.order-status-card .card-text {
	margin-bottom: 0.5rem;
}

.order-status-card .rounded-pill {
	font-size: 1em;
}

.cancel-btn:hover {
	cursor: pointer;
}

.btn-wrapper {
	text-align: center;
}

#order-input-modal .modal-body {
	padding: 2rem 3rem;
}

.empty-order {
	display: block;
	margin: auto;
}