.container {
	margin: 20px auto;
}

.main-title {
	text-align: center;
	margin-bottom: 20px;
}

.order-search {
	width: 500px;
	margin: auto;
}

.order-status-block {
	display: block;
	margin: 10px auto;
	width: 600px;
	pointer-events: none;
}

.order-status-wrapper {
	background-color: #eee;
	padding: 20px;
	border-radius: 20px;
	width: 700px;
	margin: auto;
}